modules/clients/src/main/resources/SensorRegistrationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://sensor.services.iotcloud.cgl" xmlns:ax28="http://services.iotcloud.cgl/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax26="http://sensor.services.iotcloud.cgl/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sensor.services.iotcloud.cgl">
    <wsdl:documentation>Register Clients to the Sensor Cloud</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sensor.services.iotcloud.cgl/xsd">
            <xs:complexType name="SensorRegistrationInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="group" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax29="http://services.iotcloud.cgl/xsd" xmlns:ax27="http://sensor.services.iotcloud.cgl/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sensor.services.iotcloud.cgl">
            <xs:import namespace="http://sensor.services.iotcloud.cgl/xsd"/>
            <xs:import namespace="http://services.iotcloud.cgl/xsd"/>
            <xs:element name="unregisterSensor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerSensor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="information" nillable="true" type="ax27:SensorRegistrationInformation"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerSensorResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax29:SensorInformation"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.iotcloud.cgl/xsd">
            <xs:complexType name="SensorInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="controlEndpoint" nillable="true" type="ax28:Endpoint"/>
                    <xs:element minOccurs="0" name="dataEndpoint" nillable="true" type="ax28:Endpoint"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="updateEndpoint" nillable="true" type="ax28:Endpoint"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Endpoint">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ax28:Property"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Property">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="registerSensorRequest">
        <wsdl:part name="parameters" element="ns:registerSensor"/>
    </wsdl:message>
    <wsdl:message name="registerSensorResponse">
        <wsdl:part name="parameters" element="ns:registerSensorResponse"/>
    </wsdl:message>
    <wsdl:message name="unregisterSensorRequest">
        <wsdl:part name="parameters" element="ns:unregisterSensor"/>
    </wsdl:message>
    <wsdl:portType name="SensorRegistrationServicePortType">
        <wsdl:operation name="registerSensor">
            <wsdl:input message="ns:registerSensorRequest" wsaw:Action="urn:registerSensor"/>
            <wsdl:output message="ns:registerSensorResponse" wsaw:Action="urn:registerSensorResponse"/>
        </wsdl:operation>
        <wsdl:operation name="unregisterSensor">
            <wsdl:input message="ns:unregisterSensorRequest" wsaw:Action="urn:unregisterSensor"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SensorRegistrationServiceSoap11Binding" type="ns:SensorRegistrationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="registerSensor">
            <soap:operation soapAction="urn:registerSensor" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unregisterSensor">
            <soap:operation soapAction="urn:unregisterSensor" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SensorRegistrationServiceSoap12Binding" type="ns:SensorRegistrationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="registerSensor">
            <soap12:operation soapAction="urn:registerSensor" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unregisterSensor">
            <soap12:operation soapAction="urn:unregisterSensor" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SensorRegistrationServiceHttpBinding" type="ns:SensorRegistrationServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="registerSensor">
            <http:operation location="registerSensor"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unregisterSensor">
            <http:operation location="unregisterSensor"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SensorRegistrationService">
        <wsdl:port name="SensorRegistrationServiceHttpSoap11Endpoint" binding="ns:SensorRegistrationServiceSoap11Binding">
            <soap:address location="http://localhost:8081/soap/services/SensorRegistrationService.SensorRegistrationServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SensorRegistrationServiceHttpSoap12Endpoint" binding="ns:SensorRegistrationServiceSoap12Binding">
            <soap12:address location="http://localhost:8081/soap/services/SensorRegistrationService.SensorRegistrationServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SensorRegistrationServiceHttpEndpoint" binding="ns:SensorRegistrationServiceHttpBinding">
            <http:address location="http://localhost:8081/soap/services/SensorRegistrationService.SensorRegistrationServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>